:root {
  --primary-color: #060b0f;
  --secondary-color: #a4031f;
  --tertiary-color: #ddcecd;
  --light-primary: #1b1c22;
  --light-secondary: #ff1053;
  --lighter-primary: #272932;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

header {
  width: 100%;
  height: 100vh;
}

.loaded {
  background-color: var(--lighter-primary);
  animation: fade-in 1s linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.accessibility__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 0 2rem 10% 0;
}

.accessibility__items {
  font-size: 2rem;
}

.accueil__container {
  margin: 15% 0 20% 18%;
}

.accueil__content {
  position: relative;
  /* transition: transform 1.5s; */
}

.accueil__skewed {
  transform: skew(-15deg);
}

.accueil__primary {
  font-size: 4rem;
}

.accueil__secondary {
  font-size: 3rem;
}

.accueil__tertiary {
  font-size: 2rem;
}

.accueil__load-left::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--lighter-primary);
  animation: appear-load-left 1.5s linear;
}

.accueil__load-right::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff;
  animation: appear-load-left 1.5s linear;
  animation-iteration-count: 1;
}

@keyframes appear-load-left {
  0% {
    transform: scaleX(1);
    width: 100%;
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    width: 0%;
    transform-origin: right;
  }
}

/* @keyframes appear-load-right {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

/* .accueil__load-left {
  transform: translateX(-100%);
}

.accueil__load-right {
  transform: translateX(100%);
} */

.presentation__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.presentation__title {
  position: relative;
  font-size: 7rem;
  margin-bottom: 7%;
  transition: opacity 2s;
}

.presentation__title::after {
  display: block;
  margin: 0 5% 0 5%;
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  bottom: -5px;
  background-color: var(--primary-color);
}

.presentation {
  width: 70%;
  font-size: 2.5rem;
  line-height: 1.7;
}

.slider {
  max-width: 100rem;
  height: 30rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slider:hover {
  outline: 2px solid red;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: transform 1.5s;
  list-style: none;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 3%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 3%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

/* Affichage des compétences par bundle */
/* .skill__bundles-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5%;
}

.skill__bundles {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: var(--tertiary-color);
  padding-top: 2rem;
  border-radius: 75px;
  height: 400px;
  width: 25%;
}

.first__skill-bundle .first-icon {
  grid-area: 1 / 1 / 2 / 2;
}
.first__skill-bundle .second-icon {
  grid-area: 1 / 3 / 2 / 4;
}
.first__skill-bundle .third-icon {
  grid-area: 1 / 5 / 2 / 6;
}
.first__skill-bundle .fourth-icon {
  grid-area: 2 / 2 / 3 / 3;
}
.first__skill-bundle .fifth-icon {
  grid-area: 2 / 4 / 3 / 5;
}*/

.portfolio__main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--lighter-primary);
  padding: 2rem 0 2rem 0;
  border-radius: 16px;
}

.row p {
  display: inherit;
  align-items: center;
  width: 50%;
  font-size: 2rem;
}

.row img {
  width: 40rem;
  border-radius: 16px;
  aspect-ratio: 1/1;
}

.active {
  -webkit-box-shadow: -6px 3px 15px 5px #ddcecd;
  box-shadow: -6px 3px 15px 5px #ddcecd;
  transform: scale(1.1);
  margin: 5rem;
  transition-duration: 1s;
}

.inactive {
  transform: scale(1);
  transition-duration: 1s;
}
